# 使用数据集加载、标准化和计算距离
本活动中，您将使用customer_interactions.csv (https://github.com/TrainingByPackt/Data-Science-for-Marketing-Analytics/blob/master/Lesson03/customer_interactions.csv) 的数据集，其中包含有关数据 客户在您的产品上花费的金额以及他们与您的业务互动的次数（例如，通过访问您的网站）。

您将根据数据集中前两个客户与企业互动的频率以及他们每年在您的企业上的支出来计算彼此之间的相似程度。 执行以下步骤以完成此活动：
- 将 customer_interactions.csv 文件中的数据加载到 pandas DataFrame 中，并查看前五行数据。 
- 计算 DataFrame 中前两个数据点之间的欧氏距离。输出应该接近 437.07。
- 计算变量的标准化值并将它们存储在名为 z_spend 和 z_interactions 的新列中。
- 计算变量的标准化值并将它们存储在名为 z_spend 和 z_interactions 的新列中。

Activity 3：

In [ ]:
import pandas as pd

df = pd.read_csv('customer_interactions.csv')
df.head()

   spend  interactions
0   5818            23
1   6255            15
2   6139            15
3   6070            19
4   4837            24

In [2]:
#计算第一个点和第二个点的距离
import math
math.sqrt((df.loc[0,'spend']-df.loc[1,'spend'])**2+(df.loc[0,'interactions']-df.loc[1,'interactions'])**2)

437.0732204104937

In [6]:
df['spend'].mean()

4005.366

In [8]:
df['spend'].std()

1963.1034988994827

In [7]:
df['interactions'].mean()

19.446

In [9]:
df['interactions'].std()

5.490649436198891

In [17]:
#增加两个新列：z_spend, z_interactions,算z score后存入
df['z_spend']=(df['spend']-df['spend'].mean())/df['spend'].std()
df['z_interactions']=(df['interactions']-df['interactions'].mean())/df['interactions'].std()
df.head()

   spend  interactions   z_spend  z_interactions
0   5818            23  0.923351        0.647282
1   6255            15  1.145958       -0.809740
2   6139            15  1.086868       -0.809740
3   6070            19  1.051719       -0.081229
4   4837            24  0.423632        0.829410

In [23]:
#计算第一个和第二个数字的距离利用z_spend, z_interactions
math.sqrt((df.loc[0,'z_spend']-df.loc[1,'z_spend'])**2
          +(df.loc[0,'z_interactions']-df.loc[1,'z_interactions'])**2)

1.4739295890009316